body {
    font-family: Dancing script;
    background-color: #02010a;
    display: flex;
    flex-flow: column;
}

img{
    box-shadow: 2px 2px 4px 0 #02010a;
}



@media (max-width: 420px){
    #contenido{
        max-width: 100%;
        align-self: center;
    }

    #cabecera{
    background-color: #5b7989;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #02010a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    display:flex;
    flex-direction:column; 
    }
    #cabecera h1{
        width: 80%;
        float: left;
    }
    #MenuPrincipal{
        float: right;
        width: 20%;
        padding-top: 1%;
        display: flex;
    }
    #MenuPrincipal > a {
        margin-right: 10px;
        text-decoration:none;
        text-shadow:none
    }

    #imagenPrincipal{
        text-align:center;
        background-color: #82c3a6;
    }
    #imagenPrincipal img {
        border: 1px solid black;    
        margin: 10px;
        width: 80%
        
    }


    #imagenSecundaria {
        text-align:center;
        display: flex;
        flex-direction: column;
        background-color: #d5c75f;    
    }
    #imagenSecundaria div{    
        flex-grow: 1;
    }
    #imgRight{
        border: 1px solid black; 
        margin: 5%;
        width: 80%;
        transition: transform 1s;
    }
    #imgRight:hover{
        transform: rotate(10deg);
    }
    #imgLeft{
        border: 1px solid black; 
        margin: 5%;
        width: 80%;
        transition: transform 1s;
    }
    #imgLeft:hover{
        transform: translate(-5px, 20px);
    }

    footer {
        border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        background-color: #C6d5c5;
        display: flex;
        flex-direction: column;
    }
    footer div{               
        flex-grow: 1;
    }
    #Fot1{
        /*height: 50px;
        background-color: red;*/
    }
    #Fot2{
        /*height: 50px;
        background-color: blue;*/
    }
    #Fot3{
        /*height: 50px;
        background-color: green;*/
    }
    #Fot3 div{
        display: flex;
        flex-direction: row;
    }
    #Fot3 div img{
        width:40px;
        height:40px;
    }
    #Fot4{
        /*height: 50px;
        background-color: orange;*/
        border-bottom-left-radius:inherit;
        -moz-border-radius-bottomleft: inherit;
        -webkit-border-bottom-left-radius: inherit;
        border-bottom-right-radius:inherit;
        -moz-border-radius-bottomright: inherit;
        -webkit-border-bottom-right-radius: inherit;
    }

    /*Paisajes*/
    #contenidoPaisajes{
        text-align:center;
        background-color: #82c3a6;
        display:flex;
        flex-direction: column;
    }
    #contenidoPaisajes > div{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .clsPaisajes{
        width: 80%;        
        flex-grow: 1;
        border: 1px solid black;    
        margin: 5% 10%;
    }
    #imgP1{        
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    #imgP2, #imgP4, #imgP6{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);     
    }
    #imgP3{
         -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
        filter: sepia(990%);    
    }    
    #imgP5{
        
    }

    /*Retratos*/
    #contenidoRetratos{
        text-align:center;
        background-color: #82c3a6;
        display:flex;
        flex-direction: column;
    }
    #contenidoRetratos > div{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .clsRetratos{
        width: 80%;        
        flex-grow: 1;
        border: 1px solid black;    
        margin: 5% 10%;
    }
    #imgR1{        
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    #imgR2, #imgR4, #imgR6{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);     
    }
    #imgR3{
         -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
        filter: sepia(990%);    
    }    
    
}

/*@media (min-width: 421px) and (max-width: 720px){

}*/

@media (min-width: 421px){
    #contenido{
        max-width: 900px;
        align-self: center;
    }

    #cabecera{
    background-color: #5b7989;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #02010a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    display:flex;
    flex-direction:row; 
    }
    #cabecera h1{
        width: 80%;
        float: left;
    }
    #MenuPrincipal{
        float: right;
        width: 20%;
        padding-top: 1%;
    }
    #MenuPrincipal > a {
        margin-right: 10px;
        text-decoration:none;
        text-shadow:none
    }

    #imagenPrincipal{
        text-align:center;
        background-color: #82c3a6;
    }
    #imagenPrincipal img {
        border: 1px solid black;    
        margin: 10px;
        width: 80%;
    }


    #imagenSecundaria {
        text-align:center;
        display: flex;
        flex-direction: row;
        background-color: #d5c75f;    
    }
    #imagenSecundaria div{
        flex-grow: 1;
        width:50%;
    }
    #imgLeft{
        border: 1px solid black; 
        margin: 5%;
        width: 80%;
        transition: transform 1s;
        flex-grow: 1;
    }
    #imgLeft:hover{
        transform: translate(-5px, 20px);
    }
    #imgRight{
        border: 1px solid black; 
        margin: 5%;
        width: 80%;
        transition: transform 1s;
        flex-grow: 1;
    }
    #imgRight:hover{
        transform: rotate(10deg);
    }
    
    

    footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C6d5c5;
    display: flex;
    flex-direction: row;
    }
    footer div{        
        flex-grow: 1;
    }
    #Fot1{
        /*height: 50px;
        background-color: red;*/
        order: 1;
        border-bottom-left-radius: inherit;        
        -moz-border-radius-bottomleft: inherit;
        -webkit-border-bottom-left-radius: inherit;
    }
    #Fot2{
        /*height: 50px;
        background-color: blue;*/
        order: 2;
    }
    #Fot3{
        /*height: 50px;
        background-color: green;*/
        order: 3;
    }
    #Fot3 div{
        display: flex;
        flex-direction: row;
    }
    #Fot3 div img{
        width:40px;
        height:40px;
    }
    #Fot4{
        /*height: 50px;
        background-color: orange;*/
        order: 4;        
        border-bottom-right-radius: inherit;
        -moz-border-radius-bottomright: inherit;
        -webkit-border-bottom-right-radius: inherit;
    }


    /*Paisajes*/
    #contenidoPaisajes{
        text-align:center;
        background-color: #82c3a6;
        display:flex;
        flex-direction: column;
    }
    #contenidoPaisajes > div{
        width: 100%;
        display:flex;
        flex-direction: row;
    }
    .clsPaisajes{
        width: 20%;
        height: 20%;
        flex-grow: 1;
        border: 1px solid black;    
        margin: 2%;
    }
    #imgP1{        
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    #imgP2, #imgP4, #imgP6{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);     
    }
    #imgP3{
         -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
        filter: sepia(990%);    
    }    
    #imgP5{
        
    }
    
    /*Retratos*/
    #contenidoRetratos{
        text-align:center;
        background-color: #82c3a6;
        display:flex;
        flex-direction: column;
    }
    #contenidoRetratos > div{
        width: 100%;
        display:flex;
        flex-direction: row;
    }
    .clsRetratos{
        width: 20%;
        height: 20%;
        flex-grow: 1;
        border: 1px solid black;    
        margin: 2%;
    }
    #imgR1{        
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    #imgR2, #imgR4, #imgR6{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);     
    }
    #imgR3{
         -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
        filter: sepia(990%);    
    }    
    
}