body {
}

#cabecera{
    background-color: #5b7989;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #02010a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    display:flex;
    flex-direction:row; 
}
#cabecera h1{
    width: 80%;
    float: left;
}
#MenuPrincipal{
    float: right;
    width: 20%;
    padding-top: 1%;
}
#MenuPrincipal > a {
    margin-right: 10px;
    text-decoration:none;
    text-shadow:none
}

#imagenPrincipal{
    text-align:center;
    background-color: #82c3a6;
}

#imagenPrincipal img {
    border: 1px solid black;    
    margin: 10px;
}

#imagenSecundaria {
    text-align:center;
    display: flex;
    flex-direction: row;
    background-color: #d5c75f;    
}
#imagenSecundaria div{    
    flex-grow: 1;
}
#imgRight{
    border: 1px solid black; 
    margin: 5%;
    width: 400px;
    transition: transform 1s;
}
#imgRight:hover{
    transform: rotate(10deg);
}
#imgLeft{
    border: 1px solid black; 
    margin: 5%;
    width: 400px;
    transition: transform 1s;
}
#imgLeft:hover{
    transform: translate(-5px, 20px);
}





@media (max-width: 420px){

}

@media (min-width: 421px) and (max-width: 720px){

}

@media (min-width: 721px){

}